<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <setting name="logImpl" value="NO_LOGGING"/>
    </settings>
	<plugins>
		<plugin interceptor="com.kc.common.web.interceptor.MybatisShowSqlInterceptor">
			<property name="dialect" value="mysql"/>
		</plugin>
		<plugin interceptor="com.kc.common.web.interceptor.DiclectResultSetHandlerInterceptor"></plugin>
	</plugins>
</configuration>
